body{
    margin: 0;
    padding: 0;
}
.AlternatesFont{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    background-color:rgb(247,237,232);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top:30px;
}
a{
    text-decoration: none;
    color: black;
}
.headerLinks{
    font-weight: bold;
    display: flex;
    gap:60px;
}
.headerButtons{
    display:flex;
    font-size: 0.875em;
    gap:20px;
}
.recentButton{
    background-color:transparent;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: bold;
}
.subscribeButton{
    background-color:black;
    color:white;
    border-radius: 8px;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
}
.moreLink{
    display: flex;
    align-items: center;
    gap:5px;
}
.logoLinks{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:120px;
}
.firstContainer{
    background-color:rgb(247,237,232);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
}
.starImg{
    position: absolute;
    height: 216px;
    margin-top: 150px;
    right: 50px;
}
.swirlImg{
    position: absolute;
    width: 630px;
    height: 593px;
    left:-150px;
}
.firstText{
    margin-top: 50px;
    display: flex;
    align-items:center;
    flex-direction: column;
    gap:40px;
}
.largeText{
    font-size: 6em;
    margin:0;
    font-weight: bold;
    text-align: center;
}
.orangeText{
    text-align: center;
    color:rgb(205,70,49);
}
.miniText{
    width: 300px;
    text-align: center;
}
.subscribeButton1{
    background-color:black;
    color:white;
    border-radius: 8px;
    padding: 18px 35px;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
}
.secondContainer{
    background-color:rgb(247,237,232);
    padding-bottom: 100px;
}
.slider{
    display: flex;
    gap:20px;
    overflow-x: hidden;
    padding-left: 50px;
}
.sliderButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding-top: 30px;
}
.HR{
    width: 80%;
    color:black;
}
.supportedBy{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.suppCont{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.supportedText{
    font-weight: bold;
    font-size: 1.438em;
}
.scribbleDiv{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: -75px;
}
.thirdContainer{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.talk{
    font-size: 3.688em;
    font-weight: bold;
    width: 55%;
    text-align: center;
}
.illDiv{
    display: flex;
    flex-direction: row;
    gap:100px;
}
.ill{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.ill>p{
    width: 70%;
    text-align: center;
    font-weight: 500;
}
.quoteDiv{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 150px;
}
.quote{
    width: 80%;
    background-color:rgb(247,237,232);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:50px;
    padding: 50px;
}
.quote>div{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:10px;
}
.p{
    width: 40px;
}
.VectorSpotify{
    width: 16px;
    height: 16px;
}
.star4{
    position: absolute;
    right: 50px;
    margin-top:-350px;
}
.vec4{
    position: absolute;
    left: 40px;
    margin-bottom: -120px;
}
.fourthContainer{
    background-color:rgb(237,243,247);
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    overflow-x: hidden;
    padding-bottom: 100px;
}
.slider1{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap:30px;
    padding-left:150px;
}
.sliderButtons1{
    display: flex;
    padding-left:150px;
    gap:20px;
    padding-top: 50px;
}
.listeners{
    text-align: center;
    font-size: 3.688em;
    font-weight: bold;
    margin: 0;
}
.platform{
    text-align: center;
    font-size: 1.416em;
    font-weight: 500;
    padding-bottom: 60px;
}
.Sparkle{
    width: 105px;
    position: absolute;
    left: 280px;
    margin-top: -70px;
}